body{
	margin: 0;
	padding : 0;
	font-family: 'Exo 2', sans-serif;
}

*{
	margin: 0;
	padding : 0;
}
/*    Header    */
div.main--fixedHeader{
	position: fixed;
	width: 100%;
	z-index: 100;
}
header.main-headerBox{
	width: 100%;
	height: 200px;
	font-size: 40px;
	background-color: #33691E;
	
	color: #F1F8E9;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
span.lightGreenText{
	color: #DCEDC8;
}
p.HeaderBox-imgBox{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
img.HeaderBox-imgElt{
	display: block;
	height: 80px;
}
h1.HeaderBox-titleElt{
	width: 80%;
	letter-spacing: 8px;
	font-size: 1.5em;
}
/*    Navigation menu    */
nav.main-navigationBox{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: linear-gradient( #558B2F, #DCEDC8);
	font-family: 'Exo 2', sans-serif;
	font-size: 1.1em;
}
ul.NavigationBox-listElt{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;	
	height: 100%;
	border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3),
                0 3px 2px rgba(0, 0, 0, .2),
                0 5px 3px rgba(0, 0, 0, .2),
                0 2px 4px rgba(0, 0, 0, .15);
}
li.ListElt-dotElt{
	display: block;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
a.DotElt-linkElt{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	width: 100%;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
	border-radius: 3px;
}
ul li a.DotElt-linkElt:hover, 
ul li a.DotElt-linkElt:focus{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 0 -1px 0 #558b2f inset,
     0 -2px 0 #33691e inset, 0 -3px 0 #558b2f inset, 0 -4px 0 #ffffff inset,
      0 -5px 0 #f1f8e9 inset; 
} 
ul li a.DotElt-linkElt{
	transition: all .3s;
	position: relative;
}
ul li a.DotElt-linkElt::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}
ul li a.DotElt-linkElt:hover::before,
ul li a.DotElt-linkElt:focus::before{
    background: white;
    box-shadow: 0 0 2px white, 
                0 -1px 0 rgba(0, 0, 0, .4);
}
ul li a.DotElt-linkElt:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}
/*    SECTION INFO    */
section.main-infoBox{
	height: 200px;
	width: 100%;
	background-color: #F1F8E9;
	font-family: 'Crete Round', serif;
	color: black;
	padding-top: 236px;

}
article.InfoBox-articleBox{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}
h2.ArticleBox-titleElt{
	font-weight: 400;
	font-size: 1.8em;
	letter-spacing: 0.1em;
	text-align: center;
}

/*    SECTION TABLE DE 3     */
section.main-aloneTableBox{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 400px;
	width: 100%;
}
h5.mainArticle-title{
	font-size: 1.6em;
	font-weight: 700;
	letter-spacing: 0.07em;
	width: 80%;
	text-align: center;
}
article.AloneTableBox-articleBox{
	display: flex;
	width: 80%;
	justify-content: center;
	align-items: center;
}
table.ArticleBox-tableElt{
	width: 20%;
	background-color: #F1F8E9;
	border: 1px solid rgba(51,105,30,0.6);
	border-radius: 6px;
	box-shadow: 9px 12px 40px -9px rgba(51,105,30,1);
}
thead{
	column-span: 2;
	text-align: center;
}
tr:nth-child(even) {
	background: #CCC;
	color: white;
}
tr:nth-child(odd) {background: #FFF}
td:nth-child(odd) {text-align: center;}
td:nth-child(even) {
	padding-right: 5px;
	text-align: right;
}
/*    SECTION TABLES MULTIPLES    */
section.main-multiTableBox{
	width: 100%;
	height: 450px;
	display: flex;
	flex-direction: column;	
	justify-content: space-around;
	align-items: center;
	background-color: #AED581;
}
div.MultiTableBox-layoutBox{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}
article.MultiTableBox-headMenuBox{
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
form.HeadMenuBox-formBox{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
fieldset.FormBox-fieldsetElt{
	border-radius: 6px;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
	padding-top: 5px;
}
p.FieldsetElt-inputBox{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 7px;
}
input.InputBox-inputElt{
	width: 20%;
}
label.InputBox-labelElt{
	width: 80%;
	text-align: center;
}
input.InputBox-submitElt{
	width: 46%;
	height: 26px;
	background-color: #8BC34A;
	border-radius: 6px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

}
article.ResultBox--init{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 48%;
}
article.MultiTableBox-resultBox{
	width: 70%;
	display: flex;
	justify-content: space-around;
}
p.ResultBox-imgBox{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
img.ImgBox-imgELt{
	width: 30px;
}
h5.mainArticle-title--variantOne{
	font-size: 1.6em;
	font-weight: 700;
	letter-spacing: 0.07em;
	/*width: 80%;*/
	text-align: center;
	color: white;
	padding-bottom: 5px;
	width: 80%;
}
/*     AFFICHER UNE TABLE     */
section.main-singleTableBox{
	width: 100%;
	min-height: 200px;
	/*height: 500px;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
article.SingleTableBox-selectBox{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}
form.SelectBox-formElt{
	width: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
input.FormElt-submitElt{
	background-color: #AED581;
	border-radius: 6px;
	width: 34%;
}
article.SingleTableBox-singleTableLayout{
	padding-top: 20px;
}
/*    REVISION    */
section.main-revisionBox{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #558B2F;
	min-height: 200px;
	color: white;
	padding-bottom: 20px;
	padding-top: 20px;
	
}
article.RevisionBox-firstFormBox{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 150px;
	font-size: 20px;
	font-weight: 300;
	padding-top: 20px;
}
form.FirstFormBox-formElt{
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
p.FirstFormBox-submitBox{
	display: flex;
	justify-content: center;
	align-items: center;

}
article.RevisionBox-secondFormBox{
	min-height: 100px;
	font-size: 20px;
	font-weight: 300;
	padding-top: 20px;
}

/*    MODE SUPER REVISION     */
section.main-superRevisionBox{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 400px;
	padding-bottom: 20px;
	padding-top: 20px;
}
article.SuperRevisionBox-questionsBox{
	width: 40%;
	display: flex;
	justify-content: center;
	font-size: 20px;
}
form.QuestionBox-formElt{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
p.FormElt-questionBox{
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
p.FormElt-submitBox{
	display: flex;
	justify-content: center;
}
article.SuperRevisionBox-answersBox{
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 20px;
}
p.AnswerBox--questionBox{
	padding-top: 20px;
	padding-bottom: 10px;
}
p.AnswerBox--goodAnswer{
	color: #9CCC65;
	padding-bottom: 20px;
}
p.AnswerBox--wrongAnswer{
	color: red;
}
span.resultColor{
	color: #64DD17;
}
/*    FOOTER    */
footer{
	width: 100%;
	height: 100px;
	background-color: #33691E;
	color: white;
	font-family: 'Crete Round', serif;
	font-size: 14px;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*    Responsive i5    */
@media (min-width: 320px) and (max-width:500px) {
	div.main--fixedHeader{
		position: static;
	}
	header.main-headerBox{
		height: 120px;
	}
	nav.main-navigationBox{
		height: 100%;
		font-size: 1.8em;
	}
	ul.NavigationBox-listElt{
		flex-direction: column;
	}
	li.ListElt-dotElt{
		height: 86px;
	}
	img.HeaderBox-imgElt{
		height: 40px;
	}
	h1.HeaderBox-titleElt{
		font-size: 15px;
	}
	h2.ArticleBox-titleElt{
		text-align: center;
	}
	section.main-infoBox{
		padding-top: 0px;
	}
	table.ArticleBox-tableElt{
		width: 80%;
	}
	section.main-multiTableBox{
		height: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	article.MultiTableBox-headMenuBox{
		width: 80%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	p.ResultBox-imgBox{
		transform: rotate(90deg);
	}
	div.MultiTableBox-layoutBox{
		flex-direction: column;
	}
	article.MultiTableBox-resultBox{
		flex-direction: column;
		align-items: center;
	}
	/*form.SecondFormBox-formElt{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}*/
	p.FormElt-paraBox{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		min-height: 100px;
		align-items: center;
	}
	p.SuperRevisionBox-infoElt{
		text-align: center;
		padding-top: 20px;
	}
	article.SuperRevisionBox-questionsBox{
		width: 80%;
	}
	p.FormElt-questionBox{
		flex-direction: column;
		align-items: center;
		padding-top: 20px;
	}
	input.QuestionBox-inputElt{
		width: 20%;
		margin-top: 10px;
	}
	article.SuperRevisionBox-answersBox{
		font-size: 16px;
	}
}
